<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<appSettings>
		<add key="SourcePath" value="C:\Test\New"/> <!--The directory where the image is located-->
		<add key="DestinationPath" value="C:\Test\Save"/> <!--The directory where random pictures will be placed-->
		<add key="Scenario" value="1"/>
		<add key="FileExtension" value=".jpg"/>
		<add key="LocationCodes" value="880213011101,990213011102,100213011103,333213011103"/>
		<add key="Cameras" value="ON,ARKA"/>
		<add key="MinuteDuration" value="3"/> <!-- Time setting of image name in minutes-->
		<add key="ImageRenderingTime" value="3000"/> <!--In milliseconds-->
		<add key="BranchSelection" value="2"/> <!--TR=1, EU=2-->
	</appSettings>
</configuration>